/* SITE STYLE  */

html {
	font-family: 'Roboto Slab', serif;
}

.main-wrapper {
	display: flex;
	flex-flow: column;
	height: 100vh;
}

.calc-wrapper {
	display: flex;
	flex-flow: row;
}

.wrapper > * {
	flex: 1 0 auto;
}

.main {
	flex: 0 0 300px;
	text-align: left;
}

.aside {
	flex: 1;
}

.header, .footer, .aside, .wrapper {
	text-align: center;
}

.contacts li {
	list-style: none;
	display: inline-block;
}

.footer {
	margin-top: auto;	
}

/* CALCULATOR STYLE */

button {
	background: pink;
}

.operator {
	background: yellow;
}

.calculator {
	display: flex;
	flex-flow: row wrap;
	border: 1px solid red;
}

.area {
	flex: 1 100%;
	border: 1px solid green;
	text-align: right;
	margin: 0;
}

#buttons {
	display: grid;
	grid-template: repeat(5, 1fr) / repeat(4, 1fr);
	text-align: center;
	height: 350px;
}

#add {
	grid-area: 2 / 4 / 4 / 4;
}

#equals {
	grid-area: 4 / 4 / 6 / 4;
}