/* SITE STYLE */

html {
	font-family: 'Roboto Slab', serif;
}

footer, .header {
	text-align: center;
	min-width: 340px;
}

.site-wrapper {
	display: flex;
	flex-flow: row wrap;
	height: 100vh;
	align-content: space-between;
}

.site-wrapper > * {
	flex: 1 0 100%;
}

.main-wrapper {
	margin: auto;
	flex: 0 0 300px;
}

.contacts li {
	list-style: none;
	display: inline-block;
}

/* CALCULATOR STYLE */

button {
	background: pink;
}

.operator {
	background: yellow;
}

.calculator {
	display: flex;
	flex-flow: row wrap;
	border: 1px solid red;
}

.area {
	flex: 1 0 100%;
	border: 1px solid green;
	text-align: right;
	margin: 0;
}

#formula, #display {
	height: 1.5em;
}

#buttons {
	display: grid;
	grid-template: repeat(5, 1fr) / repeat(4, 1fr);
	height: 350px;
}

#add {
	grid-area: 2 / 4 / 4 / 4;
}

#equals {
	grid-area: 4 / 4 / 6 / 4;
}